@keyframes glowing{
    from{
        text-shadow: 0 0 20px white;
    }
    to{
        text-shadow: 0 0 30px white,
                    0 0 10px white
    }
}

@keyframes blink{
    0%{opacity: 100%;}
    50%{opacity: 20%;}
    100%{opacity: 100%;}
}


.upper{
    background-color: white;
    width: 90%;
}

body{
    background-image: url(/image/background.png);
    background-repeat: repeat;
}


.ds_name{
    color: rgb(255, 255, 255);
    margin: 10px 100px 0px 100px;
    font-size: 70px;
}

.ds_name:active{
    animation: glowing 1s infinite alternate;
}

.bs_name{
    font-size: 30px;
}

.ds_logo{
    width: 100px;
    margin: 10px 100px -5px 100px;
}

.ds_logo:hover{
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.btn{
    width: 200px;
    height: 60px;
    text-align: center;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-weight: bold;
    margin: 20px 0px;
}

.btn:hover{
    background-color: grey;
    color: white;
}

.btn:active{
    background-color:dimgrey;
}

.btn_text{
    color: white;
}

.active_btn{
    background-color:dimgrey;
}

/* Form */

.form_container{
    margin: 10px
}

iframe{
    background-color: rgb(255, 255, 255,.3);
    border-radius: 20px;
    padding: 10px 0px 0px 0px ;
    border: 2px solid white;
}

.parent{
    position: relative;
    margin: 10px;
}

#content{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
}

#particles-js{
    width: 100vw;
    height: 115vh;
}

.off_duty_particles{
    height: 80vh !important;
}