
@keyframes glowing{
    from{
        text-shadow: 0 0 20px white;
    }
    to{
        text-shadow: 0 0 30px white,
                    0 0 10px white
    }
}

@keyframes blink{
    0%{opacity: 100%;}
    50%{opacity: 20%;}
    100%{opacity: 100%;}
}

.upper{
    background-color: white;
    width: 98%;
}

body{
    background-image: url(../image/background.jpg);
    background-repeat: repeat;
    height: 100%;
    width: 100%;
}

.ds_name:active{
    animation: glowing 1s infinite alternate;
}

.ds_name{
    position: relative;
    color: rgb(255, 255, 255);
    font-size: min(6vw, 75px);
    user-select: none;
    top: clamp(2.5px ,1vw, 0px) ;
    left: 1vw;
}


.ds_logo{
    width: min(10vw,100px);
    user-select: none;
    position: relative;
}

.ds_logo:hover{
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.paragraph{
    margin: 10px 100px 10px 100px;
    text-align: center;
}

.text{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.heading{
    text-align: center;
    color: white;
    margin: 10px;
}


#chart{
    background-color: rgb(255, 255, 255,.2);
    border: 3px solid white;
    border-radius: 10px;
    width: 60vw;
    min-width: 100px !important;
}

#proud_small{
    color: white;
}

.photo_slider{
    width: 60vw;
    min-width: 380px !important;
    
}

.slide{
    margin: 20px;
    border: 5px solid white;

}

.carousel-item{
    user-select: none;
}

.align{
    align-content: center;
}